header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 90%;
  height: $headerHeight;
  padding: 0 5%;
  flex: none;
}

.logo {
  display: flex;
  align-items: center;
  color: white;

  &__title {
    font-weight: normal;
  }

  &__img {
    width: calc($headerHeight - 10px);
    height: calc($headerHeight - 10px);
    margin: 0 20px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em;
  a {
    margin-right: 1em;
    color: white;
  }
}
