@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

$color-1: #595457;
$color-2: #ae76a6;
$color-3: #a3c3d9;
$color-4: #ccd6eb;
$color-5: #e9ecf5;

$palette-1: #595457;
$palette-2: #710627;
$palette-3: #9e1946;
$palette-4: #de0d92;
$palette-5: #4d6cfa;

$headerHeight: 80px;
